<% provide(:title, 'Create record') %>
<% content_for :main_content do %>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Add record</div>

    <div class="panel-body">

      <%= render 'form' %>

    </div>

  </div>

  <%= link_to 'Back', moneyrecords_path, class: 'btn btn-primary' %>

<% end %>

<%= render 'layouts/userarea' %>
