<div class="page-header">
  <h1>Welcome to Expenses Test App</h1>
</div>

<div class="well">
  <p>This web app was developed as a Test Task for <a href="http://www.beltechsoftware.com/">beltechsoftware.com</a> by Ivan Ramanenka</p>
  <p>The app is supposed to track user expenses/incomes</p>
  <p>Any logged-in user could perform the following actions:</p>
  <ul>
    <li>Add/Edit/Delete own Expense categories</li>
    <li>Add/Edit/Delete own Income categories</li>
    <li>Add/Edit/Delete own Expense/Income records</li>
    <li>Generate a report on each Expense/Income category</li>
    <li>Generate a finance report by date</li>
  </ul>
  <p>You can either sign up or try the app using the following email/password values:</p>
  <ul>
    <li>test@example.com/12345678</li>
  </ul>
  <p>Source code is available on github:</p>
  <ul>
    <li><a href="https://github.com/091500/expenses">https://github.com/091500/expenses</a></li>
  </ul>
</div>