<% provide(:title, 'Create category') %>
<% content_for :main_content do %>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left">Add new category</h3>
    </div>

    <div class="panel-body">

      <%= render 'form' %>

    </div>

  </div>

  <%= link_to 'Back', categories_path, class: 'btn btn-primary' %>

<% end %>

<%= render 'layouts/userarea' %>
