<% content_for :main_content do %>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Add new category</div>

    <div class="panel-body">

      <%= render 'form' %>

    </div>

  </div>

  <%= link_to 'Back', categories_path, class: 'btn btn-sm btn-primary' %>

<% end %>

<%= render 'layouts/userarea' %>
