<div class="col-md-12">
  <div class="page-header">
    <h1><%= yield(:title) %></h1>
  </div>
</div>
<div class="col-md-3">
  <%= render 'layouts/left_menu' %>
</div>

<div class="col-md-9">
  <%= yield :main_content %>
</div>